html {
    scroll-behavior: smooth;
}
/*Nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 45px;
    width: auto;
    background-color: #414141;
    border-radius: 10px;
    
}
.sticky {
    position: sticky;
    top: 0;   
}
.nav_section {
    display: flex;
}
.nav_item {
    padding: 5px;
    box-shadow: 1px 1px 1px #555c31;
    border-radius: 8px;
    margin: 1px;
    color: black;
    text-decoration: none;
    background-color: #d1e000;
    text-align: center;
}
.logo_icon { 
    background-image: url(../assets/Revou-Logo.png);
    height: 40px;
    width: 40px;
    background-size: cover;
}

/*Article*/
.MainArticle {
    display: flex;
    flex-direction: column; 
}
.MainArticle_Banner_Container {
    margin-top: 50px;
    height: 578px;
    width: 100%;
    background-position: center;
}
.MainArticle_Banner_Content {
    height: 578px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-1 {
    background-image: url(../assets/Software_Engineer.webp);
    
}
.banner-2 {
    background-image: url(../assets/Data_Analis.webp);
    
}
.banner-3 {
    background-image: url(../assets/Course_Report.webp);
    
}
.FontArticle {
    margin-bottom: 0px;
    margin-top: 0px;
}

/*Our Profile*/
.profile_container {
    display: flex;
    justify-content: space-around;
    background-color: #dadada;
    padding-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
}
.profile_item {
    text-align: -webkit-center;
    
}
.profile_img {
    background-image: url(../assets/user.jpg);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.html_img {
    background-image: url(../assets/html.png);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.css_img {
    background-image: url(../assets/CSS.png);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.java_img {
    background-image: url(../assets/Javascript.png);
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/*Massage US*/
.MassageUS_Container {
    display: flex;
    justify-content: space-between; 
}
.form_MassageUS {
    
    width: 600px;
    height: 330px;
    padding-left: 2%;
    margin-right: 50px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #c0cc1c;
}
.Form_row {
    display: flex;
    flex-direction: row;
}
.row_label {
    float: left;
    width: 25%;
}
.row_input {
    float: left;
    width: 65%;
}
.Label_standard {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.input_standar {
    display: inline-block;
    background: #fff;
    border: 1px solid #bec0c4;
    box-shadow: none;
    border-radius: 8px;
    margin: 8px 0;
    width: 60%;
    text-align: center;
    font-family: arial, sans-serif;
}
.Button_style {
    height: 40px;
    width: 75%;
    border-radius: 10px;
    background-color: #cc334a;
    border: none;
}
.comments_container{
    width: 1024px;
    margin-top: 2rem;
}
.comment_card{
    width: 800px;
    display: grid;
    grid-template-columns: 3% auto;
    margin: 0.5rem;
    border-bottom: 1px solid #c9c9c9;
}
.center_display{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    width: 800px;
    background-color: #dadada;
}
.comment_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comment_card .pic{
    background-color: #48cae4;
    border-radius: 50%;
    margin: 15%;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    
}

.comment_info .comment{
    margin: 5px 0;
}

/*footer*/
footer {
    text-align: right;
    
}

/*responsive Design*/

@media only screen and (max-width: 1440px) {
    .form_MassageUS {
        width: 100%;
    }
    .comment_card{
        width: 100%;

    }
    .center_display{
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .MassageUS_Container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
         
    }
    .form_MassageUS {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .center_display{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        width: 100%;
        background-color: #dadada;
    }

}
@media only screen and (max-width: 425px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    .nav_section{
        flex-direction: column;
    }
    .comment_card{
        width: 100%;

    }
    .center_display{
        width: 100%;
    }
    .comment_card .pic{
        font-size: 0px;
    }
    .profile_container {
        display: flex;
        flex-direction: column;
    }

}